@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body, textarea, button{
    font-family: 'Share Tech Mono', monospace;
    background: #d7e5e2;
    margin: 0;
    padding: 0;
}
#barraSuperior {
    display: flex;
    padding: 20px;
    background: #8075f8;
    justify-content: space-around;
    align-items: center;
}
#titulo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    user-select: none;
    font-size: 1.5em;
    margin: 0;
    padding-right: 20px;
}
#aviso {
    margin: 20px;
    display: flex;
    justify-content: center;
    user-select: none;
    color: red;
}

#txt {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    text-align: center;
}
.txts {
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
    resize: none;
    color: black;
    outline: none;
    background-image: url("../img/boneco.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 5px;
    border: 2px solid #8075f8;
    padding: 10px;
}
.typing-animation {    
    animation: blinkCursor 1s 400ms steps(20) normal infinite, typing 4s steps(20) normal 5s;
}
@keyframes typing {
    from{
        width: 0em;
    }
    to {
        width: 11.5rem;
    }
}

@keyframes blinkCursor {
    from{
        border-right-color: rgba(255,255,255,0.75);
    }
    to {
        border-right-color: transparent;
    }
}
#botoes{
    text-align: center;  
    margin-top: 20px;
}
.btns { 
    background-color: #8075f8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;  
    margin: 10px;
    transition: all 0.3s ease;
}
.btns:hover {
    background-color: #6d63e1;
}
hr {
    max-width: 70%;
    margin-top: 50px;
    border-color: #8075f8;
}
#alerta {
    display: flex;
    color: #8075f8;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#txtTec {
    padding: 70px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #8075f8;
}
#tecs {
    display: flex;
    padding: 50px 0px 70px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #8075f8;
}
#meusLinks {
    padding: 30px 0px 30px;
    display: flex;
    background: #8075f8;
    justify-content: center;
    grid-gap: 10%;
}
#shareV {
    color: #8075f8;
}
.corBranca {
    color: #ffffff;
}
@media screen and (max-width: 800px) {

    #troca {
        display: grid;
    }
    #alerta {
        order: 2;
    }
    #botoes {
        order: 1;
    }
}
